body{
    max-width: 615px;
    margin: 0 auto;
    background-color: rgb(230, 230, 220);
}


h1{
    font-size: 5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500px;
    text-align: center;
    color: rgb(65, 65, 54);
}

h2{
    color: rgb(82, 82, 64);
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 25px;
    border: 2px
    solid
    rgb(65, 65, 54);
}