body{
    max-width: 615px;
    margin: 0 auto;
    background: rgb(255,207,227);
background: linear-gradient(108deg, rgba(255,207,227,1) 0%, rgba(254,81,87,1) 33%, rgba(253,29,29,1) 51%, rgba(253,59,37,1) 69%, rgba(252,176,69,1) 100%);
}

h1{
    font-size: 5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500px;
    text-align: center;
    color: rgb(255,207,227);
    
}

h2{
    color: rgb(255,207,227);
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 25px;
    border: 2px
    solid
    rgb(255, 255, 255);
    background: rgb(242,43,201);
background: radial-gradient(circle, rgba(242,43,201,1) 0%, rgba(189,55,55,1) 100%);
text-align: center;
}

.box{
    background-color: rgb(255,207,227); 
width: 5rem;
height: 5rem;
margin: .5rem;
display: grid;
place-items: center;
}

.absolute{
    background-color: aliceblue;
    position: absolute;
    right: 20px;
    top: 2000px;
}

.fixed{
    position: fixed;
    background-color: aliceblue;
    right: 0;
    bottom: 300px;


}

.dialog-box{
    position: fixed;
    width: 20rem;
    height: 8rem;
    background-color: rgb(67, 65, 107);
    right: 0;
    bottom: 150px;
}

.close-button{
    position: absolute;
    background-color: aliceblue;
    width: 1.5rem;
    height: 1.5rem;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .5rem;
    line-height: 0.5;
    
}

.relative{
    background-color: blanchedalmond;
    left: 100px;
    top: 50px;
    width: 10rem;
    height: 10rem;
    position: relative;
    display: block;

}
.child{
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    padding: .5rem;
    line-height: 0.5;
}
.sticky{
    background-color: purple;
    color: white;
    position: sticky;
    top: 50px;
    
}